* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    line-height: 1.6;
    color: #333;
    justify-content: center;
}

h1 {
    margin: 20px 0 20px 0;
}

.container {
    display: flex;
    flex-direction: row;
    width: 75em;
}

nav {
    padding: 2rem 0 0 2rem;
    width: 200px;
}

nav ul {
    list-style: none;
    margin-bottom: 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
} 

#icon {
    width: 20px;
}

main {
    padding: 2rem;
    flex: 1;
    width: 100%;
}

section {
    margin: 0 auto;
    display: flex;
}

#experience .xp {
    display: flex;
    flex-direction: row;
    background-color: #F9F9F9;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
}

#logo {
    width: 200px;
    height: auto;
    margin: 0 2rem 0 0;
}

#headshot {
    height: 200px;
    width: 200px;
}


